.adminGamesPage__editGameInfoModal {
    form {
        padding: 10px;
        margin: 20px 0;

        background-color: #fff;
    }

    &__formItem {
        $i: &;

        &:not(:first-child) {
            margin-top: 20px;
        }

        & > * {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        &__label,
        &__input {
            display: block;
        }

        &__label {
            font-weight: 500;
        }

        &[data-required] {
            #{$i}__label {
                &::after {
                    content: '*';
                    margin-left: 0.1em;

                    color: #d21010;
                }
            }
        }

        &__input {
            &:not([type='checkbox']),
            &[type='textarea'] {
                display: block;
                width: 100%;

                padding: 10px;
            }

            &[type='textarea'] {
                resize: vertical;
            }

            &:read-only {
                cursor: default;
            }
        }

        &__extraText {
            font-size: 0.8em;
        }
    }

    &__button {
        margin-top: 10px;

        text-align: center;

        button {
            padding: 5px 10px;
        }
    }
}
