.adminGamesPage__editGameInfoModal {
    &__input {
        $i: &;

        &:not(:first-child) {
            margin-top: 20px;
        }

        & > * {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        &__label {
            font-weight: 500;
        }

        &[data-required] {
            #{$i}__label {
                label {
                    &::after {
                        content: '*';
                        margin-left: 0.1em;

                        color: #d21010;
                    }
                }
            }
        }

        &__input {
            input:not([type='checkbox']),
            textarea {
                display: block;
                width: 100%;

                padding: 10px;
            }

            textarea {
                resize: vertical;
            }
        }

        &__extraText {
            font-size: 0.8em;
        }
    }

    &__button {
        margin-top: 10px;

        text-align: center;

        button {
            padding: 5px 10px;
        }
    }
}
