.sendPage__statusModal {
    padding: 10px;
    margin-top: 20px;

    background-color: #fff;

    text-align: center;

    &__button {
        button {
            padding: 5px 10px;
        }
    }

    p {
        &:first-child {
            font-size: 1.5em;
        }
    }

    & > * {
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}
